flows.json
[{"id":"5873c8c6.47a5b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d3eb64d9.707dd8","type":"http in","z":"5873c8c6.47a5b8","name":"","url":"/welcome","method":"get","upload":false,"swaggerDoc":"","x":130,"y":100,"wires":[["279000f8.d5cb9"]]},{"id":"b94c2ac3.d6a748","type":"http response","z":"5873c8c6.47a5b8","name":"","statusCode":"","headers":{},"x":490,"y":100,"wires":[]},{"id":"279000f8.d5cb9","type":"template","z":"5873c8c6.47a5b8","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello {{payload.name}} !\n\nThis is a Node Red Container!!!","output":"str","x":330,"y":100,"wires":[["b94c2ac3.d6a748"]]},{"id":"c1307260.8c96c","type":"http in","z":"5873c8c6.47a5b8","name":"","url":"/echo","method":"get","upload":false,"swaggerDoc":"","x":110,"y":180,"wires":[["2f9ae402.2f2f9c"]]},{"id":"2f9ae402.2f2f9c","type":"http response","z":"5873c8c6.47a5b8","name":"","statusCode":"","headers":{},"x":490,"y":180,"wires":[]}]